node_modules/
dist/
build/
.env
server/data.db
server/uploads/*.jpg
server/uploads/*.png
server/uploads/*.mp4
!server/uploads/.gitkeep
admin/dist/
admin/node_modules/
ai-service/__pycache__/
ai-service/.venv/
*.log
.DS_Store
.dart_tool/
.flutter-plugins
.packages

server/data.db
server/data.db-shm
server/data.db-wal
package-lock.json
admin/package-lock.json
